  /*text animations*/
  .ml13 .letter {
    display: inline-block;
    line-height: 1em;
}

.ml14 .letter {
    display: inline-block;
    line-height: 1em;
}

.ml15 .letter {
    display: inline-block;
    line-height: 1em;
}

.ml16 .letter {
    display: inline-block;
    line-height: 1em;
}

.ml17 .letter {
    display: inline-block;
    line-height: 1em;
}