html, body{
    overflow-x: hidden;
    font-family: 'Prata', serif;
}

p{
    font-family: 'Comfortaa';
}

.header{
    margin: 0;
    padding: 10px;
    font-size: 6rem;
}
.subheader{
    font-size: 6rem;
    margin: 0px;
}
.small-title{
    font-size: 4rem;
    margin: 0px;
    font-family: 'Comfortaa';
    margin-bottom: 10px;
    display: inline-block;
}
.experience-time{
    font-size: 3rem;
    display: inline-block;
    margin-left: 50px;
    font-family: 'Comfortaa';
}

.titleIcon{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

@media (min-width: 550px){
    .header{ font-size: 12rem; }
    .subheader{ font-size: 15rem; }
    .small-title{ font-size: 5rem; }
}

#experience{
    background-color: black;
    color: white;
    overflow: hidden;
}

.experience-container{
    margin: 0px;
    padding: 20px;
}
@media (min-width: 550px){
    .experience-container{ margin: 100px }
}

.full-width{
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow-y: hidden;
}

.headerDiv{
    position: absolute;
    top: 30%;
    transform: translateY(-30%);
}

.bar{
    border: 2px solid #F44336;
}

#titleBar{
    margin-top: 20px;
    width: 75%;
}

.card{
    width: 700px;
    height: 400px;
    background-color: white;
    margin: 20px;
}

.cardContainer{
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
}