html, body{
    overflow-x: hidden;
    font-family: 'Prata', serif;
}

p{
    font-family: 'Comfortaa';
}

.header{
    margin: 0;
    font-size: 6rem;
}
.subheader{
    font-size: 8rem;
    margin: 0px;
}

.titleIcon{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

@media (min-width: 550px){
    .header{ font-size: 10rem; }
    .subheader{ font-size: 15rem; }
}

#experience{
    background-color: black;
    color: white;
    overflow: hidden;
}

.full-width{
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow-y: hidden;
}

.headerDiv{
    position: absolute;
    top: 30%;
    transform: translateY(-30%);
}

.bar{
    border: 2px solid #F44336;
}