html, body {
    font-family: 'Questrial', sans-serif;
    overflow-x: hidden;
}

#logo{
    width: 90vw;
    max-width: 700px;
    position: relative;
    left: 50%;
    margin-top: 50vh;
    animation: float-logo 6s ease-in-out infinite;
}

#box2{
    width: 100%;
    margin: 200px 0px;
    animation: float 6s ease-in-out infinite;
}

#box3{
    width: 100%;
    margin-top: 300px;
    animation: float 6s ease-in-out infinite;
}

#orgs{
    width: 100%;
}

.skills-title{
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
}

.skills-title img{
    position: absolute;
    width: 350px;
    top: 50%;
    z-index: -1;
    left: -20px;
}

.subtext{
    text-align: center;
}

.vl{
    border-left: 4px solid black;
    height: 300px;
    position: relative;
    left: 50%;
    margin-left: -2px;
    top: 0;
    width: 0px;
    margin: 100px 0px;
}

.first-vl{
    margin-top: -250px;
}

nav{
    position: fixed;
    height: 70px;
    padding: 20px 200px;
    top: 0px;
    left: 0px;
    width: 100vw;
    background-color: white;
    z-index: 2;
}

nav > p{
    display: inline-block;
    font-size: 1.25rem;
}

nav > .icons {
    position: relative;
    display: inline-block;
    float: right;
    height: 100%;
}

nav > .icons svg {
    height: 100%;
    width: auto !important;
    margin: 0px 15px;
}

h1{
    font-size: 6rem;
    padding: 0px 80px;
}

h2{
    font-size: 5rem;
}

.skills-list{
    text-align: center;
}

.container-fluid{
    padding: 0px;
}

.experience-card{
    margin: 100px;
    text-align: right;
}
.experience-card h3{
    font-size: 2.5rem;
    margin: 0px;
}
.experience-card h6{
    font-size: 1.25rem;
    opacity: 0.5;
    font-weight: bold;
    margin: 5px 0px;
}

#organizations .col-5{
    padding-top: 50px;
    padding-left: 100px;
}

.organizations-card{
    margin: 50px 0px;
}

.organizations-card p{
    font-size: 1.5rem;
    opacity: 0.5;
    margin-left: 20px;
}

.organizations-card h3{
    font-size: 3rem;
    display: inline-block;
}

#skills{
    margin-top: 150px;
}

#skills h3{
    font-size: 4rem;
}

#skills .row{
    margin: 90px 180px !important;
    position: relative;
}

#skills .skills-info{
    text-align: left;
    right: 0px;
    width: 40%;
    max-width: 500px;
    margin-left: 600px;
}

#skills .skills-info h5{
    font-size: 2rem;
    display: inline-block;
}

.dots{
    display: inline-block;
    margin-left: 15px;
}

.dot{
    background: black;
    display: inline-block;
    margin: 0px 2px;
    width: 20px;
    height: 20px;
    border-radius: 40px;
}

.skills-info .tag{
    opacity: 0.5;
    font-size: 1.25rem;
}

@keyframes float-logo {
	0% {
		transform: translate(-50%, -50%);
	}
	50% {
		transform: translate(-50%, -54%);
	}
	100% {
		transform: translate(-50%, -50%);
	}
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-30px);
	}
	100% {
		transform: translatey(0px);
	}
}